.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerRow {
    width: 40% !important;
}

.newCatContainer {
    width: 100%;
}

.addButtonDiv {
    width: 100%;
    margin-top: 1rem;
}

.headingCont {
    display: flex;
    flex-direction: row !important;
    color: white !important;
}

.categoryText {
    color: #0072F5 !important;
    margin: 0px !important;
}
