.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerRow {
    width: 40% !important;
}

.newTranContainer {
    width: 100%;
}

.dropdownDiv button {
    width: 100% !important;
}

.addButtonDiv {
    width: 100%;
    margin-top: 1rem;
}

.heading {
    margin-top: 0px;
}